
<div id="footer" class="clearfix sidebar-page right-sidebar-page">
    <!-- Start #footer  -->
    <p class="pull-left">
        Copyrights &copy; @DateTime.Now.Year.ToString() <a href="https://github.com/tpincer" class="color-blue strong" target="_blank">GITHUB TIAGO PINCER</a>. Todos os direitos reservados.
    </p>
    <p>
        &nbsp; <email dominio="hotmail.com">tiago_pincer</email>   @*-   <email>contato</email>*@   
    </p>

    <p class="pull-right">
        <a href="#" class="mr5">Terms of use</a>
        |
        <a href="#" class="ml5 mr25">Privacy police</a>
    </p>
</div>
<!-- End #footer  -->